.calculator {
  width: 40vw;
  background-color: red;
  margin: 12rem auto;
}

.button {
  padding: 18px;
  font-size: 20px;
  cursor: pointer;
}

.keypad {
  text-align: center;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.numbers {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.operators {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.display {
  font-size: 50px;
  text-align: center;
  padding: 60px;
}
